{
  "openapi": "3.1.0",
  "info": {
    "title": "Enterprise API",
    "version": "0.0.0",
    "description": "Aggregate OpenAPI 3.1 document for all enterprise modules, generated from FCG InterfaceSpecs."
  },
  "servers": [
    {
      "url": "https://api.enterprisecrm.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "Analytics: Components Allowed In Reports Selection"
    },
    {
      "name": "Analytics: Report Category"
    },
    {
      "name": "Analytics: Report Share"
    },
    {
      "name": "Analytics: Reporting"
    },
    {
      "name": "Analytics: Reports"
    },
    {
      "name": "Cache: Cache"
    },
    {
      "name": "Communications: Bulk Email"
    },
    {
      "name": "Communications: Campaign Email"
    },
    {
      "name": "Communications: Campaign Emails"
    },
    {
      "name": "Communications: Campaign Files"
    },
    {
      "name": "Communications: Campaign Notes"
    },
    {
      "name": "Communications: Campaign Tasks"
    },
    {
      "name": "Communications: Campaigns"
    },
    {
      "name": "Communications: Comments"
    },
    {
      "name": "Communications: Conversation"
    },
    {
      "name": "Communications: Conversations"
    },
    {
      "name": "Communications: Email Analytics"
    },
    {
      "name": "Communications: Email Files"
    },
    {
      "name": "Communications: Email Lists"
    },
    {
      "name": "Communications: Email Scheduling"
    },
    {
      "name": "Communications: Email Snapshot"
    },
    {
      "name": "Communications: Email Snapshot Contacts"
    },
    {
      "name": "Communications: Email Snapshots"
    },
    {
      "name": "Communications: Email Templates"
    },
    {
      "name": "Communications: Emails"
    },
    {
      "name": "Communications: File Upload"
    },
    {
      "name": "Communications: Gmail Connection"
    },
    {
      "name": "Communications: Gmail Send"
    },
    {
      "name": "Communications: Gmail Sync"
    },
    {
      "name": "Communications: Referrals"
    },
    {
      "name": "Communications: Send Email"
    },
    {
      "name": "Customer Success: Renewal Files"
    },
    {
      "name": "Customer Success: Renewal Notes"
    },
    {
      "name": "Customer Success: Renewal Tasks"
    },
    {
      "name": "Customer Success: Renewals"
    },
    {
      "name": "Data: Avatar"
    },
    {
      "name": "Data: Data"
    },
    {
      "name": "Data: Features"
    },
    {
      "name": "Data: Field Types"
    },
    {
      "name": "Data: Icons"
    },
    {
      "name": "Data: Model Fields"
    },
    {
      "name": "Data: Model Files"
    },
    {
      "name": "Data: Model Layouts"
    },
    {
      "name": "Data: Model Notes"
    },
    {
      "name": "Data: Model Tasks"
    },
    {
      "name": "Data: Models"
    },
    {
      "name": "Data: Navigation Items"
    },
    {
      "name": "Data: Previewimage"
    },
    {
      "name": "Data: Query"
    },
    {
      "name": "Finance: Contractor Payment Processing"
    },
    {
      "name": "Finance: Customer Payment Processing"
    },
    {
      "name": "Finance: Customer Payments"
    },
    {
      "name": "Finance: Finance Accounts"
    },
    {
      "name": "Finance: Finance Bills"
    },
    {
      "name": "Finance: Finance Credit Memos"
    },
    {
      "name": "Finance: Finance Customers"
    },
    {
      "name": "Finance: Finance Employees"
    },
    {
      "name": "Finance: Finance Estimates"
    },
    {
      "name": "Finance: Finance Invoices"
    },
    {
      "name": "Finance: Finance Journal Entries"
    },
    {
      "name": "Finance: Finance Payments"
    },
    {
      "name": "Finance: Finance Product Services"
    },
    {
      "name": "Finance: Finance Sales Receipts"
    },
    {
      "name": "Finance: Finance Vendors"
    },
    {
      "name": "Finance: Stripe Integration"
    },
    {
      "name": "Forms: Form Fields"
    },
    {
      "name": "Forms: Forms"
    },
    {
      "name": "Identity: Authentication"
    },
    {
      "name": "Identity: Contractors"
    },
    {
      "name": "Identity: Department Users"
    },
    {
      "name": "Identity: Departments"
    },
    {
      "name": "Identity: Employees"
    },
    {
      "name": "Identity: Oauthhandlers"
    },
    {
      "name": "Identity: Roles"
    },
    {
      "name": "Identity: Team Users"
    },
    {
      "name": "Identity: Teams"
    },
    {
      "name": "Identity: User Management"
    },
    {
      "name": "Identity: Users"
    },
    {
      "name": "Integrations: Conflict Resolution"
    },
    {
      "name": "Integrations: Data Sync"
    },
    {
      "name": "Integrations: Export Field Mappings"
    },
    {
      "name": "Integrations: Export Profiles"
    },
    {
      "name": "Integrations: Export Schedules"
    },
    {
      "name": "Integrations: Exports"
    },
    {
      "name": "Integrations: Field Mapping"
    },
    {
      "name": "Integrations: Import Field Mappings"
    },
    {
      "name": "Integrations: Import Management"
    },
    {
      "name": "Integrations: Import Profiles"
    },
    {
      "name": "Integrations: Import Schedules"
    },
    {
      "name": "Integrations: Imports"
    },
    {
      "name": "Integrations: Sync Engine"
    },
    {
      "name": "Integrations: Sync Vendor Model Field Mappings"
    },
    {
      "name": "Integrations: Sync Vendors"
    },
    {
      "name": "Integrations: Synchronizations"
    },
    {
      "name": "Inventory: Equipment"
    },
    {
      "name": "Inventory: Inventory Locations"
    },
    {
      "name": "Marketing: Campaign Channel Ads"
    },
    {
      "name": "Marketing: Campaign Channel Ads Files"
    },
    {
      "name": "Marketing: Campaign Channel Ads Notes"
    },
    {
      "name": "Marketing: Campaign Channel Ads Tasks"
    },
    {
      "name": "Marketing: Campaign Channel Emails"
    },
    {
      "name": "Marketing: Campaign Channel Emails Files"
    },
    {
      "name": "Marketing: Campaign Channel Emails Notes"
    },
    {
      "name": "Marketing: Campaign Channel Emails Tasks"
    },
    {
      "name": "Marketing: Campaign Channel Ppc"
    },
    {
      "name": "Marketing: Campaign Channel Ppc Files"
    },
    {
      "name": "Marketing: Campaign Channel Ppc Notes"
    },
    {
      "name": "Marketing: Campaign Channel Ppc Tasks"
    },
    {
      "name": "Marketing: Campaign Channel Sms"
    },
    {
      "name": "Marketing: Campaign Channel Sms Files"
    },
    {
      "name": "Marketing: Campaign Channel Sms Notes"
    },
    {
      "name": "Marketing: Campaign Channel Sms Tasks"
    },
    {
      "name": "Marketing: Campaign Channel Social"
    },
    {
      "name": "Marketing: Campaign Channel Social Files"
    },
    {
      "name": "Marketing: Campaign Channel Social Notes"
    },
    {
      "name": "Marketing: Campaign Channel Social Tasks"
    },
    {
      "name": "Marketing: Campaign Channel Web Content"
    },
    {
      "name": "Marketing: Campaign Channel Web Content Files"
    },
    {
      "name": "Marketing: Campaign Channel Web Content Notes"
    },
    {
      "name": "Marketing: Campaign Channel Web Content Tasks"
    },
    {
      "name": "Marketing: Campaign Sequence Snapshot Contacts"
    },
    {
      "name": "Marketing: Campaign Sequence Snapshots"
    },
    {
      "name": "Marketing: Campaign Sequences"
    },
    {
      "name": "Marketing: Campaign Stakeholder Users"
    },
    {
      "name": "Marketing: Email Drip Campaign Notes"
    },
    {
      "name": "Marketing: Email Drip Campaigns"
    },
    {
      "name": "Marketing: Email Sequence Workflows"
    },
    {
      "name": "Marketing: Segment Files"
    },
    {
      "name": "Marketing: Segment Notes"
    },
    {
      "name": "Marketing: Segments"
    },
    {
      "name": "Marketing: Send Marketing Email"
    },
    {
      "name": "Marketing: Social Analytics"
    },
    {
      "name": "Marketing: Social Connection"
    },
    {
      "name": "Marketing: Social Inbox"
    },
    {
      "name": "Marketing: Social Publish Job"
    },
    {
      "name": "Marketing: Social Publishing"
    },
    {
      "name": "Marketing: Web Pages"
    },
    {
      "name": "Marketing: Web Publishing"
    },
    {
      "name": "Marketing: Website Statuses"
    },
    {
      "name": "Marketing: Website Types"
    },
    {
      "name": "Marketing: Websites"
    },
    {
      "name": "Marketing: Workflow Enrollments"
    },
    {
      "name": "Marketing: Workflow Steps"
    },
    {
      "name": "Marketing: Workflows"
    },
    {
      "name": "Notifications: Notification Scheduling"
    },
    {
      "name": "Notifications: Notifications"
    },
    {
      "name": "Notifications: Send Notification"
    },
    {
      "name": "Permissions: Authorization"
    },
    {
      "name": "Pipelines: Pipelines"
    },
    {
      "name": "Sales: Account Files"
    },
    {
      "name": "Sales: Account Management"
    },
    {
      "name": "Sales: Account Notes"
    },
    {
      "name": "Sales: Account Ownerships"
    },
    {
      "name": "Sales: Account Products"
    },
    {
      "name": "Sales: Account Sources"
    },
    {
      "name": "Sales: Account Statuses"
    },
    {
      "name": "Sales: Account Tasks"
    },
    {
      "name": "Sales: Account Types"
    },
    {
      "name": "Sales: Accounts"
    },
    {
      "name": "Sales: Campaigns"
    },
    {
      "name": "Sales: Contact Files"
    },
    {
      "name": "Sales: Contact Notes"
    },
    {
      "name": "Sales: Contact Statuses"
    },
    {
      "name": "Sales: Contact Tasks"
    },
    {
      "name": "Sales: Contacts"
    },
    {
      "name": "Sales: Files"
    },
    {
      "name": "Sales: Google Business Profiles"
    },
    {
      "name": "Sales: Industries"
    },
    {
      "name": "Sales: Insight Files"
    },
    {
      "name": "Sales: Insight Filter Files"
    },
    {
      "name": "Sales: Insight Filter Notes"
    },
    {
      "name": "Sales: Insight Filter Tasks"
    },
    {
      "name": "Sales: Insight Filters"
    },
    {
      "name": "Sales: Insight Notes"
    },
    {
      "name": "Sales: Insight Tasks"
    },
    {
      "name": "Sales: Insights"
    },
    {
      "name": "Sales: Lead Management"
    },
    {
      "name": "Sales: Lead Nurturing"
    },
    {
      "name": "Sales: Leads"
    },
    {
      "name": "Sales: Linkedin Profiles"
    },
    {
      "name": "Sales: Notes"
    },
    {
      "name": "Sales: Opportunities"
    },
    {
      "name": "Sales: Opportunity Files"
    },
    {
      "name": "Sales: Opportunity Notes"
    },
    {
      "name": "Sales: Opportunity Products"
    },
    {
      "name": "Sales: Opportunity Statuses"
    },
    {
      "name": "Sales: Opportunity Tasks"
    },
    {
      "name": "Sales: Orders"
    },
    {
      "name": "Sales: Organization Board Meetings"
    },
    {
      "name": "Sales: Organization Contacts"
    },
    {
      "name": "Sales: Organization News"
    },
    {
      "name": "Sales: Organization Types"
    },
    {
      "name": "Sales: Organizations"
    },
    {
      "name": "Sales: Product Files"
    },
    {
      "name": "Sales: Product Notes"
    },
    {
      "name": "Sales: Product Statuses"
    },
    {
      "name": "Sales: Product Tasks"
    },
    {
      "name": "Sales: Products"
    },
    {
      "name": "Sales: Quote Statuses"
    },
    {
      "name": "Sales: Quotes"
    },
    {
      "name": "Sales: Regions"
    },
    {
      "name": "Sales: Sales Targets"
    },
    {
      "name": "Sales: Sla Types"
    },
    {
      "name": "Sales: Student History"
    },
    {
      "name": "Sales: Tasks"
    },
    {
      "name": "Sales: Workspace Management"
    },
    {
      "name": "Settings: Notification Settings"
    },
    {
      "name": "Settings: Security Settings"
    },
    {
      "name": "Settings: Settings Scopes"
    },
    {
      "name": "Support: Support Documentation Pages"
    },
    {
      "name": "System: Job Histories"
    },
    {
      "name": "System: Job Types"
    },
    {
      "name": "System: Jobs"
    },
    {
      "name": "System: Multi Tenant Database"
    },
    {
      "name": "System: Settings"
    },
    {
      "name": "System: Tenant Resolution"
    },
    {
      "name": "Ui: Components"
    },
    {
      "name": "Ui: Dashboards"
    },
    {
      "name": "Ui: Drafts"
    },
    {
      "name": "Ui: Enterprise Product Announcement Files"
    },
    {
      "name": "Ui: Enterprise Product Announcement Notes"
    },
    {
      "name": "Ui: Enterprise Product Announcement Tasks"
    },
    {
      "name": "Ui: Enterprise Product Announcements"
    },
    {
      "name": "Ui: Record Recent Views"
    },
    {
      "name": "Ui: Registered Components"
    },
    {
      "name": "Ui: Screen Actions"
    },
    {
      "name": "Ui: Screen Components"
    },
    {
      "name": "Ui: Screen Files"
    },
    {
      "name": "Ui: Screen Notes"
    },
    {
      "name": "Ui: Screen Statuses"
    },
    {
      "name": "Ui: Screen Tasks"
    },
    {
      "name": "Ui: Screens"
    },
    {
      "name": "Ui: Settings"
    },
    {
      "name": "Ui: Support Ticket Files"
    },
    {
      "name": "Ui: Support Ticket Notes"
    },
    {
      "name": "Ui: Support Ticket Resolutions"
    },
    {
      "name": "Ui: Support Ticket Tasks"
    },
    {
      "name": "Ui: Support Tickets"
    },
    {
      "name": "Ui: User Screens"
    },
    {
      "name": "Ui: Workspaces"
    },
    {
      "name": "Workflow: Scheduled Events"
    },
    {
      "name": "Workflow: Workflow Status Pipeline Record States"
    },
    {
      "name": "Workflow: Workflow Status Pipelines"
    }
  ],
  "paths": {
    "/api/data/health": {
      "get": {
        "operationId": "data.data.healthCheck",
        "tags": [
          "Data: Data"
        ],
        "summary": "Health Check",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.DataHealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:data:read"
      }
    },
    "/api/data/models": {
      "get": {
        "operationId": "data.models.query",
        "tags": [
          "Data: Models"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.Model"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:models:read"
      },
      "post": {
        "operationId": "data.models.create",
        "tags": [
          "Data: Models"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:models:write"
      }
    },
    "/api/data/datasources": {
      "get": {
        "operationId": "data.data.getDataSources",
        "tags": [
          "Data: Data"
        ],
        "summary": "Get Data Sources",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:data:read"
      }
    },
    "/api/data/routes/info": {
      "get": {
        "operationId": "data.data.getRouteInfo",
        "tags": [
          "Data: Data"
        ],
        "summary": "Get Route Info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.RouteInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:data:read"
      }
    },
    "/api/data/models/reload": {
      "post": {
        "operationId": "data.data.reloadModels",
        "tags": [
          "Data: Data"
        ],
        "summary": "Reload Models",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ReloadModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:data:write"
      }
    },
    "/api/data/avatar/generate": {
      "post": {
        "operationId": "data.avatar.generate",
        "tags": [
          "Data: Avatar"
        ],
        "summary": "Generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.AvatarGenerateResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.AvatarGenerateRequest"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:avatar:write"
      }
    },
    "/api/data/preview/generate": {
      "post": {
        "operationId": "data.previewimage.generate",
        "tags": [
          "Data: Previewimage"
        ],
        "summary": "Generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.PreviewImageGenerateResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.PreviewImageGenerateRequest"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:previewimage:write"
      }
    },
    "/api/data/query": {
      "post": {
        "operationId": "data.query.queryPaginated",
        "tags": [
          "Data: Query"
        ],
        "summary": "Query Paginated",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.PaginatedQueryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.PaginatedQueryRequest"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:query:write"
      }
    },
    "/api/data/features": {
      "get": {
        "operationId": "data.features.query",
        "tags": [
          "Data: Features"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.Feature"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.FeatureFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:features:read"
      },
      "post": {
        "operationId": "data.features.create",
        "tags": [
          "Data: Features"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Feature"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateFeatureInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:features:write"
      }
    },
    "/api/data/features/{id}": {
      "get": {
        "operationId": "data.features.getById",
        "tags": [
          "Data: Features"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Feature"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:features:read"
      },
      "put": {
        "operationId": "data.features.update",
        "tags": [
          "Data: Features"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Feature"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateFeatureInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:features:write"
      },
      "delete": {
        "operationId": "data.features.delete",
        "tags": [
          "Data: Features"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:features:delete"
      }
    },
    "/api/data/icons": {
      "get": {
        "operationId": "data.icons.query",
        "tags": [
          "Data: Icons"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.Icon"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.IconFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:icons:read"
      },
      "post": {
        "operationId": "data.icons.create",
        "tags": [
          "Data: Icons"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Icon"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateIconInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:icons:write"
      }
    },
    "/api/data/icons/{id}": {
      "get": {
        "operationId": "data.icons.getById",
        "tags": [
          "Data: Icons"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Icon"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:icons:read"
      },
      "put": {
        "operationId": "data.icons.update",
        "tags": [
          "Data: Icons"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Icon"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateIconInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:icons:write"
      },
      "delete": {
        "operationId": "data.icons.delete",
        "tags": [
          "Data: Icons"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:icons:delete"
      }
    },
    "/api/data/models/{id}": {
      "get": {
        "operationId": "data.models.getById",
        "tags": [
          "Data: Models"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:models:read"
      },
      "put": {
        "operationId": "data.models.update",
        "tags": [
          "Data: Models"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:models:write"
      },
      "delete": {
        "operationId": "data.models.delete",
        "tags": [
          "Data: Models"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:models:delete"
      }
    },
    "/api/data/navigationItems": {
      "get": {
        "operationId": "data.navigationItems.query",
        "tags": [
          "Data: Navigation Items"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.NavigationItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.NavigationItemFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:navigationItems:read"
      },
      "post": {
        "operationId": "data.navigationItems.create",
        "tags": [
          "Data: Navigation Items"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.NavigationItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateNavigationItemInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:navigationItems:write"
      }
    },
    "/api/data/navigationItems/{id}": {
      "get": {
        "operationId": "data.navigationItems.getById",
        "tags": [
          "Data: Navigation Items"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.NavigationItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:navigationItems:read"
      },
      "put": {
        "operationId": "data.navigationItems.update",
        "tags": [
          "Data: Navigation Items"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.NavigationItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateNavigationItemInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:navigationItems:write"
      },
      "delete": {
        "operationId": "data.navigationItems.delete",
        "tags": [
          "Data: Navigation Items"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:navigationItems:delete"
      }
    },
    "/api/data/modelFields": {
      "get": {
        "operationId": "data.modelFields.query",
        "tags": [
          "Data: Model Fields"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.ModelField"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelFieldFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFields:read"
      },
      "post": {
        "operationId": "data.modelFields.create",
        "tags": [
          "Data: Model Fields"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelField"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelFieldInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelFields:write"
      }
    },
    "/api/data/modelFields/{id}": {
      "get": {
        "operationId": "data.modelFields.getById",
        "tags": [
          "Data: Model Fields"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelField"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFields:read"
      },
      "put": {
        "operationId": "data.modelFields.update",
        "tags": [
          "Data: Model Fields"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelField"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelFieldInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelFields:write"
      },
      "delete": {
        "operationId": "data.modelFields.delete",
        "tags": [
          "Data: Model Fields"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFields:delete"
      }
    },
    "/api/data/modelLayouts": {
      "get": {
        "operationId": "data.modelLayouts.query",
        "tags": [
          "Data: Model Layouts"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.ModelLayout"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelLayoutFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelLayouts:read"
      },
      "post": {
        "operationId": "data.modelLayouts.create",
        "tags": [
          "Data: Model Layouts"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelLayout"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelLayoutInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelLayouts:write"
      }
    },
    "/api/data/modelLayouts/{id}": {
      "get": {
        "operationId": "data.modelLayouts.getById",
        "tags": [
          "Data: Model Layouts"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelLayout"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelLayouts:read"
      },
      "put": {
        "operationId": "data.modelLayouts.update",
        "tags": [
          "Data: Model Layouts"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelLayout"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelLayoutInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelLayouts:write"
      },
      "delete": {
        "operationId": "data.modelLayouts.delete",
        "tags": [
          "Data: Model Layouts"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelLayouts:delete"
      }
    },
    "/api/data/fieldTypes": {
      "get": {
        "operationId": "data.fieldTypes.query",
        "tags": [
          "Data: Field Types"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.FieldType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.FieldTypeFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:fieldTypes:read"
      },
      "post": {
        "operationId": "data.fieldTypes.create",
        "tags": [
          "Data: Field Types"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.FieldType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateFieldTypeInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:fieldTypes:write"
      }
    },
    "/api/data/fieldTypes/{id}": {
      "get": {
        "operationId": "data.fieldTypes.getById",
        "tags": [
          "Data: Field Types"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.FieldType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:fieldTypes:read"
      },
      "put": {
        "operationId": "data.fieldTypes.update",
        "tags": [
          "Data: Field Types"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.FieldType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateFieldTypeInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:fieldTypes:write"
      },
      "delete": {
        "operationId": "data.fieldTypes.delete",
        "tags": [
          "Data: Field Types"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:fieldTypes:delete"
      }
    },
    "/api/data/modelNotes": {
      "get": {
        "operationId": "data.modelNotes.query",
        "tags": [
          "Data: Model Notes"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.ModelNote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelNoteFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelNotes:read"
      },
      "post": {
        "operationId": "data.modelNotes.create",
        "tags": [
          "Data: Model Notes"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelNoteInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelNotes:write"
      }
    },
    "/api/data/modelNotes/{id}": {
      "get": {
        "operationId": "data.modelNotes.getById",
        "tags": [
          "Data: Model Notes"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelNotes:read"
      },
      "put": {
        "operationId": "data.modelNotes.update",
        "tags": [
          "Data: Model Notes"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelNoteInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelNotes:write"
      },
      "delete": {
        "operationId": "data.modelNotes.delete",
        "tags": [
          "Data: Model Notes"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelNotes:delete"
      }
    },
    "/api/data/modelFiles": {
      "get": {
        "operationId": "data.modelFiles.query",
        "tags": [
          "Data: Model Files"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.ModelFile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelFileFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFiles:read"
      },
      "post": {
        "operationId": "data.modelFiles.create",
        "tags": [
          "Data: Model Files"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelFileInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelFiles:write"
      }
    },
    "/api/data/modelFiles/{id}": {
      "get": {
        "operationId": "data.modelFiles.getById",
        "tags": [
          "Data: Model Files"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFiles:read"
      },
      "put": {
        "operationId": "data.modelFiles.update",
        "tags": [
          "Data: Model Files"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelFileInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelFiles:write"
      },
      "delete": {
        "operationId": "data.modelFiles.delete",
        "tags": [
          "Data: Model Files"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelFiles:delete"
      }
    },
    "/api/data/modelTasks": {
      "get": {
        "operationId": "data.modelTasks.query",
        "tags": [
          "Data: Model Tasks"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/data.ModelTask"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/data.ModelTaskFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelTasks:read"
      },
      "post": {
        "operationId": "data.modelTasks.create",
        "tags": [
          "Data: Model Tasks"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.CreateModelTaskInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelTasks:write"
      }
    },
    "/api/data/modelTasks/{id}": {
      "get": {
        "operationId": "data.modelTasks.getById",
        "tags": [
          "Data: Model Tasks"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelTasks:read"
      },
      "put": {
        "operationId": "data.modelTasks.update",
        "tags": [
          "Data: Model Tasks"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data.ModelTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/data.UpdateModelTaskInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "data:modelTasks:write"
      },
      "delete": {
        "operationId": "data.modelTasks.delete",
        "tags": [
          "Data: Model Tasks"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "data:modelTasks:delete"
      }
    },
    "/api/analytics/reporting/data": {
      "get": {
        "operationId": "analytics.reporting.getData",
        "tags": [
          "Analytics: Reporting"
        ],
        "summary": "Get Data",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "queryParams",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/analytics.ReportDataQueryParams"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reporting:read"
      }
    },
    "/api/analytics/reporting/list": {
      "get": {
        "operationId": "analytics.reporting.getAllReports",
        "tags": [
          "Analytics: Reporting"
        ],
        "summary": "Get All Reports",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/analytics.Report"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "queryParams",
            "in": "query",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/analytics.AccountScopedQueryParams"
                },
                {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              ]
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reporting:read"
      }
    },
    "/api/analytics/reporting/by-category/{category}": {
      "get": {
        "operationId": "analytics.reporting.getReportsByCategory",
        "tags": [
          "Analytics: Reporting"
        ],
        "summary": "Get Reports By Category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportsByCategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "params",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "queryParams",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/analytics.AccountScopedQueryParams"
            }
          },
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reporting:read"
      }
    },
    "/api/analytics/reporting/categories": {
      "get": {
        "operationId": "analytics.reporting.getCategories",
        "tags": [
          "Analytics: Reporting"
        ],
        "summary": "Get Categories",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "queryParams",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/analytics.AccountScopedQueryParams"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reporting:read"
      }
    },
    "/api/analytics/reporting/health": {
      "get": {
        "operationId": "analytics.reporting.healthCheck",
        "tags": [
          "Analytics: Reporting"
        ],
        "summary": "Health Check",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.HealthCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reporting:read"
      }
    },
    "/api/analytics/reports": {
      "get": {
        "operationId": "analytics.reports.query",
        "tags": [
          "Analytics: Reports"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/analytics.Report"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/analytics.ReportFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reports:read"
      },
      "post": {
        "operationId": "analytics.reports.create",
        "tags": [
          "Analytics: Reports"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.Report"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.CreateReportInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reports:write"
      }
    },
    "/api/analytics/reports/{id}": {
      "get": {
        "operationId": "analytics.reports.getById",
        "tags": [
          "Analytics: Reports"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.Report"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reports:read"
      },
      "put": {
        "operationId": "analytics.reports.update",
        "tags": [
          "Analytics: Reports"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.Report"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.UpdateReportInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reports:write"
      },
      "delete": {
        "operationId": "analytics.reports.delete",
        "tags": [
          "Analytics: Reports"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reports:delete"
      }
    },
    "/api/analytics/reportCategory": {
      "get": {
        "operationId": "analytics.reportCategory.query",
        "tags": [
          "Analytics: Report Category"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/analytics.ReportCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/analytics.ReportCategoryFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportCategory:read"
      },
      "post": {
        "operationId": "analytics.reportCategory.create",
        "tags": [
          "Analytics: Report Category"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.CreateReportCategoryInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reportCategory:write"
      }
    },
    "/api/analytics/reportCategory/{id}": {
      "get": {
        "operationId": "analytics.reportCategory.getById",
        "tags": [
          "Analytics: Report Category"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportCategory:read"
      },
      "put": {
        "operationId": "analytics.reportCategory.update",
        "tags": [
          "Analytics: Report Category"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.UpdateReportCategoryInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reportCategory:write"
      },
      "delete": {
        "operationId": "analytics.reportCategory.delete",
        "tags": [
          "Analytics: Report Category"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportCategory:delete"
      }
    },
    "/api/analytics/reportShare": {
      "get": {
        "operationId": "analytics.reportShare.query",
        "tags": [
          "Analytics: Report Share"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/analytics.ReportShare"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/analytics.ReportShareFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportShare:read"
      },
      "post": {
        "operationId": "analytics.reportShare.create",
        "tags": [
          "Analytics: Report Share"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportShare"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.CreateReportShareInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reportShare:write"
      }
    },
    "/api/analytics/reportShare/{id}": {
      "get": {
        "operationId": "analytics.reportShare.getById",
        "tags": [
          "Analytics: Report Share"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportShare"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportShare:read"
      },
      "put": {
        "operationId": "analytics.reportShare.update",
        "tags": [
          "Analytics: Report Share"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ReportShare"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.UpdateReportShareInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:reportShare:write"
      },
      "delete": {
        "operationId": "analytics.reportShare.delete",
        "tags": [
          "Analytics: Report Share"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:reportShare:delete"
      }
    },
    "/api/analytics/componentsAllowedInReportsSelection": {
      "get": {
        "operationId": "analytics.componentsAllowedInReportsSelection.query",
        "tags": [
          "Analytics: Components Allowed In Reports Selection"
        ],
        "summary": "Query",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/analytics.ComponentsAllowedInReportsSelection"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/analytics.ComponentsAllowedInReportsSelectionFilter"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:componentsAllowedInReportsSelection:read"
      },
      "post": {
        "operationId": "analytics.componentsAllowedInReportsSelection.create",
        "tags": [
          "Analytics: Components Allowed In Reports Selection"
        ],
        "summary": "Create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ComponentsAllowedInReportsSelection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.CreateComponentsAllowedInReportsSelectionInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:componentsAllowedInReportsSelection:write"
      }
    },
    "/api/analytics/componentsAllowedInReportsSelection/{id}": {
      "get": {
        "operationId": "analytics.componentsAllowedInReportsSelection.getById",
        "tags": [
          "Analytics: Components Allowed In Reports Selection"
        ],
        "summary": "Get By Id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ComponentsAllowedInReportsSelection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:componentsAllowedInReportsSelection:read"
      },
      "put": {
        "operationId": "analytics.componentsAllowedInReportsSelection.update",
        "tags": [
          "Analytics: Components Allowed In Reports Selection"
        ],
        "summary": "Update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.ComponentsAllowedInReportsSelection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/analytics.UpdateComponentsAllowedInReportsSelectionInput"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "analytics:componentsAllowedInReportsSelection:write"
      },
      "delete": {
        "operationId": "analytics.componentsAllowedInReportsSelection.delete",
        "tags": [
          "Analytics: Components Allowed In Reports Selection"
        ],
        "summary": "Delete",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "analytics:componentsAllowedInReportsSelection:delete"
      }
    },
    "/api/cache/initialize": {
      "post": {
        "operationId": "cache.cache.initialize",
        "tags": [
          "Cache: Cache"
        ],
        "summary": "Initialize the cache service",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cache.ICacheConfig"
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "cache:cache:write",
        "description": "Initialize the cache service"
      }
    },
    "/api/cache/content": {
      "get": {
        "operationId": "cache.cache.checkUrlContentInCache",
        "tags": [
          "Cache: Cache"
        ],
        "summary": "Check if URL exists in raw content cache",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/cache.IContentCacheResult"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-scope": "clientServer",
        "x-permission": "cache:cache:read",
        "description": "Check if URL exists in raw content cache"
      },
      "post": {
        "operationId": "cache.cache.saveContentToCache",
        "tags": [
          "Cache: Cache"
        ],
        "summary": "Save raw content to cache (from /extract-content endpoint)",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "ttlHours",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "x-scope": "clientServer",
        "x-permission": "cache:cache:write",
        "description": "Save raw content to cache (from /extract-content endpoint)"
      }
    },
    "/api/cache/data": {
      "get": {
        "operationId": "cache.cache.checkUrlDataInCache",
        "tags": [
          "Cache: Cache"
        ],
        "summary": "Check if URL + dataType exists in extracted data cache",
        "responses": {
          "200": {
[...]
